.bigButtonStyles {
    width: 140px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: blue;
    color: snow;
    font-size: 18px;
    font-family: 'Lekton', sans-serif
}
.bigButtonStyles:hover {
    opacity: 0.5;
}

.midButtonStyles {
    width: 86px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: blue;
    color: snow;
    font-size: 14px;
    font-family: 'Lekton', sans-serif;
}
.midButtonStyles:hover {
    opacity: 0.5;
}

.smallButtonStyles {
    width: 56px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: blue;
    color: snow;
    font-size: 9px;
    font-family: 'Lekton', sans-serif
}
.smallButtonStyles:hover {
    opacity: 0.5;
}

